@import '../theme/theme.scss';
@import './function.scss';

@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    [data-theme='#{$theme-name}'] & {
      @content;
    }
  }
}

// 获取背景渐变颜色
@mixin get-background-image($target) {
  @include themeify {
    background-image: themed($target);
  }
}

// 获取分割border颜色
@mixin  get-border-with-theme($target) {
  @include themeify {
    border-bottom: themed($target);
  }
}

//获取背景颜色
@mixin fetch-bg-color($target) {
  @include themeify {
    background-color: themed($target);
  }
}

// 获取文字颜色
@mixin fetch-text-color($target) {
  @include themeify {
    color: themed($target);
  }
}