// 闪烁
.go-animation-twinkle {
  animation: twinkle 2s ease;
  animation-iteration-count: infinite;
  opacity: 1;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}