@import "./var.scss";
@import "./mixin/mixins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 毛玻璃
.get-background-filter {
  backdrop-filter: $--filter-blur-base;
  @include fetch-bg-color("filter-color");
  box-shadow: $--border-shadow;
}